tests/data/
tests/output/
tests/**/*pyc
.cache/
.idea/
.vscode/
build/
dist/
site/
__pycache__
**/.ipynb_checkpoints/
dask-worker-space/
ananse/db/remap*
*egg-info
bld.bat
build.sh
pushgit.sh
pullgit.sh
tomaster.sh
conda_build.sh
**/*.DS_Store

# code coverage results
.coverage
coverage.xml

# temporary dirs
testdata
