include README.md
include LICENSE
include scripts/**
graft ananse/db/**
include ananse/db/tfs.txt
include ananse/db/hg38.genes.bed
include ananse/db/hg19.genes.bed
include versioneer.py
include ananse/_version.py
